*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/sfondo.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.multiple3{
    background-color:cadetblue;
}

.multiple5{
    background-color:goldenrod;
}

.multiple35{
    background-color: crimson;
}

.box{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    
}

.white{
    background-color: white;
}

.container{
    width: 702px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.l1b,
.l2,
.l3b,
.l4,
.l5b,
.l6,
.l7b,
.l8,
.l9b,
.l10{
    display: flex;
    flex-direction: row-reverse;
}

h1{
    margin-bottom: 30px;
    color: whitesmoke;
}

.start{
    background-color: green;
}

.finish{
    background-image: url("../img/finish.jpg");
    background-size: 400px;
}